## Day Objectives
### Date : 1 July 2019
- Define functions for the following data points
    - Combined Average Income of all states from 2005 to 2013
    - State with highest average income in the last three years
    - State with lowest average income from 2007 to 2010(inclusive)
    - Print the list of all states in the same line with average income less than California
    - Print the names of states based on descending order of income in the year 2009
    - State with the lowest recorded income from 2005 to 2013

In [9]:
filename = "DataFiles/Income.csv"
import pandas as pd
def readCSVdata(filename):
    return pd.read_csv(filename)
incomedf = readCSVdata(filename)
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [131]:
# Function to calculate average income of all states
def combinedAvgIncome(df):
    li=[]
    for i in df.values:
        li.append(i[2:])
    for i in range(len(li)):
        sum=0
        c=0
        for j in range(len(incomedf.columns)-2):
            sum=sum+li[i][j]
            c=c+1
        avg = sum / c
        print(avg)
combinedAvgIncome(incomedf)

41126.444444444445
60106.555555555555
48967.88888888889
38828.88888888889
55350.444444444445

In [132]:
# Another function to calculate average income of all states
def avgIncome(df):
    for i in df.values:
        li=i[2:]
        print(sum(li)/len(li))
avgIncome(incomedf)

41126.444444444445
60106.555555555555
48967.88888888889
38828.88888888889
55350.444444444445

In [154]:
# State with highest average income in the last three years
def highestAvgIncomeLastThreeYears(df):
    avglist=[]
    for i in df.values:
        income = i[-3:]
        avg = sum(income)/len(income)
        avglist.append(avg)
    print(max(avglist))
highestAvgIncomeLastThreeYears(incomedf)

60738.666666666664

In [155]:
# State with highest average income in the last three years print the country name using dictionary
def highestAvgIncomeLastThreeYears(df):
    state = {}
    for i in df.values:
        income = i[-3:]
        avg = sum(income)/len(income)
        state[avg] = i[1]
    print(max(state.items()))
highestAvgIncomeLastThreeYears(incomedf)

(60738.666666666664, 'Alaska')

In [157]:
# State with lowest average income from 2007 to 2010(inclusive)
def lowestAvgIncome(df):
    avglist=[]
    for i in df.values:
        income = i[4:8]
        avg= sum(income)/len(income)
        avglist.append(avg)
    print(avglist)
    print(min(avglist))
lowestAvgIncome(incomedf)

[41900.25, 61608.5, 50635.5, 38876.5, 55791.25]
38876.5

In [166]:
# Print the list of all states in the same line with average income less than California
def avgIncomeLessThanCalifornia(df):
    income = {}
    for i in df.values:
        li=i[2:]
        avg= sum(li)/len(li)
        income[avg] = i[1]
    incomesort = sorted(income.items())
    print(incomesort)
    for income,state in incomesort:
        if state=='California':
            break
        else:
            print(state)
avgIncomeLessThanCalifornia(incomedf)

[(38828.88888888889, 'Arkansas'), (41126.444444444445, 'Alabama'), (48967.88888888889, 'Arizona'), (55350.444444444445, 'California'), (60106.555555555555, 'Alaska')]
Arkansas
Alabama
Arizona

In [207]:
# Print the names of states based on descending order of income in the year 2009
def incomeDescendingOrder(df):
    state = {}
    for i in df.values:
        li = i[6]
        state[li] = i[1]
    desc_order = sorted(state.items(),reverse = True)
    print(desc_order)
    for income,statename in desc_order:
        print(statename)
incomeDescendingOrder(incomedf)

[(61604, 'Alaska'), (56134, 'California'), (45739, 'Arizona'), (39980, 'Alabama'), (36538, 'Arkansas')]
Alaska
California
Arizona
Alabama
Arkansas

In [216]:
# State with the lowest recorded income from 2005 to 2013
def lowestIncome(df):
    state = {}
    for i in df.values:
        li=i[2:]
        mi = min(li)
        state[mi] = i[1]
        lowest = sorted(state.items())
    print(min(lowest))
lowestIncome(incomedf)

(36538, 'Arkansas')