# Markdown Basics
* **Bold**
* *Italic*
* ***IB***
* ~~strike out~~
* Normal Text
  * Sublist 1
  * Sublist 2
  
 
> 1. Ordered list 1
> 2. Ordered list 2


- [x] Option 1
- [ ] Option 2
- [ ] Option 3

`printf("Hello Markdown")`

<http://google.com>


markdown@google.com



[Jupyter logo](th.jpg) 

![Jupyter Logo](th.jpg)

<img src="th.jpg"
width="50" height="50"
style="float:left">

## Python Basics

#### Python version 3.7


- Scripting language
- Object Oriented language
- Functional Language

In [1]:
# Python comment

print("Praise the Lord","!",end=" ")#Basic output
print("God Bless You")

Praise the Lord ! God Bless You

## Assinment

In [2]:
n = 123 # single variable assignment
n #this is also print the n value
print(n)

n1=n2=n3=n # multi variable assignment of the same value


a,b,c=123,234,345#Multi variable assignment with different values

print(a,b,c)

123
123 234 345

##  Data Types & Type Conversions
- int
- float
- string

In [3]:

type(a)

s1="python"
type(s1)

f=10.345
type(f)

int(f) #type conversion from floating to integer

str(int(f)) # float converting into integer then integer convert into string

'10'

## Arithmetic Operations

- +
- -
- *
- /
- %
- **

In [4]:
n1 % 11

n2 = n3 ** 12
type(n2)
len(str(n2))

atoms = 10 ** 82
type(atoms)
len(str(atoms))

83

## Condition Checking

In [5]:
atoms < 10 ** 99  # true statement
atoms < 10 ** 79  # false statement

if atoms < 10 ** 9:
    print("FALSE")
else:
    print("TRUE")

TRUE

In [6]:
#Check if a number is Even 

n=123
if n%2==0:
    print("Even")
else:
    print("odd")

odd

In [7]:
#Find the greatest number

a=input("Enter the first number")
b=input("Enter the second number")
c=input("Enter the third number")
if a>b and a>c:
    print(a,"is the greatest number")
elif b>a and b>c:
    print(b,"is greatest")
else:
    print(c,"is greatest")

Enter the first number12
Enter the second number32
Enter the third number43
43 is greatest

In [6]:
#Check if given year is leap year or not
n=int(input("Enter a number"))
if n % 400==0 or (n%100!=0 and n%4==0):
    print("leap year")
else:
    print("not a leap year")

Enter a number2020
leap year

In [4]:
# Calculate the number of digits in a number
n=int(input("Enter a number"))
count=0
while n>0:
    n=n//10
    count=count+1
print(count)

Enter a number1234
4

In [ ]:
# Check if a number is a multiple of 10 or not
n=int(input("Enter a number"))
if n%10 == 0:
    print("multiple")
else:
    print("not multiple")

In [10]:
#Check if a number is a factor of 1000
n=int(input("Enter a number"))
a=1000
if a%n == 0:
    print("factor")
else:
    print("not a factor")

Enter a number3
not a factor

In [8]:
# Check if given string is equal to a number
n=123456
s="12345"
if str(n) == s:
    print("both are equal")
else:
    print("not equal")

not equal

In [13]:
#calculate square root of a number without using math functions
n=int(input("Enter a number"))
sqr=n**0.5
print(int(sqr))

Enter a number100
10

In [15]:
#Calculate the number of nano seconds in year 
#given year(considering leap year logic)

year=2016
if year%400==0 or (year%100!=0 and year%4==0):
    print(366*24*60*60*(10**9))
else:
    print(365*24*60*60*(10**8))

31622400000000000