## Day Objectives :

### Date : 27-June-2019

### Set - Data Structure in Python
- Represented by '{}'
- To define a set a={1,2,3,4,5}
- Set contains only unique elements
- If similar elements are there while printing it removes the redandant data and print the unique data
- Set is mutable means we change elements means add delete etc
- If we wnat Add an element to the set setname.add(element)
- For accessing elements in set we use a for loop

In [1]:
a={1,2,3,4,5,6,6}
a.add(10)   # For adding an element to a Set

for i in a:   # To access elements of a Set
    print(i,end=' ')  # For printing elements of a Set
    
# For adding more elements to a set
b={8,9}
li=[7,11]
a.update(b,li)  # For adding another set and list elements to a set

a.discard(11)   # For removing or deleting an element from a set
a

1 2 3 4 5 6 10

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [9]:
a={10,1,2,3,4,5,6}
b={7,8,9,1,2,3}
c={11,12}
a.union(b)   # Combining of both sets using set operation union

a.intersection(b)   #  Intersection operation

# A U B = B U A

b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [3]:
a.isdisjoint(c)  # It returns True if two sets not having common elements otherwise False

True

In [4]:
a - b  # All elements of 'a' which are not in 'b'

{4, 5, 6, 10}

In [10]:
sorted(a)

[1, 2, 3, 4, 5, 6, 10]

In [12]:
a={10,1,2,3,4,5,6}
b={7,8,9,1,2,3}

a ^ b  # Elements either in a or in b

{4, 5, 6, 7, 8, 9, 10}

In [14]:
d = set()  # To create an empty set 
d

set()

In [15]:
li = [1,2,3,4,1,2,5,6]
u = set(li)
u

{1, 2, 3, 4, 5, 6}

## Functional Programming
- Procedural :C
- Object Oriented : Java, Python
- Scripting Language : PHP, Python, Javascript, Shell, Perl
- Functional : Python, Haskell, Scala
- Logic Based or Rule Based : Prolog, Lisp

### List Comprehensions

In [21]:
# List of N natural numbers
li=[i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
# Apply list comprehension to store cubes of N natural numbers
li=[i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [38]:
# Function to calcualte factorial of a given number
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1) 
# Applay list comprehension to calculate factorial of n natural numbers
n=10
factorialList=[factorial(i) for i in range(1,n+1)]
factorialList

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [65]:
# Store cumulative sum of numbers til n in a list using list comprehension
n=5
cumulative_sum = [sum(range(1,i+1)) for i in range(1,n+1)]   
cumulative_sum

[1, 3, 6, 10, 15]

In [67]:
# List Comprehension to store only leap years in a given time period
startyear = 1970
endyear = 2019
leapyear=[i for i in range(startyear,endyear+1) if (i%400==0 or (i%4==0 and i%100!=0))]
leapyear

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [74]:
# List Comprehension to store only even numbers
li=[i if i%2==0 else False for i in range(1,10)]
li

[False, 2, False, 4, False, 6, False, 8, False]

In [109]:
# List Comprehension to store only unique elements
li=[1,2,3,2,1,4,5,6,4,5,7]
li.sort()
unique = [uni.append(i) for i in li if i not in uni]

[1, 2, 3, 4, 5, 6, 7]